[submodule "gpakosz-tmux"]
	path = gpakosz-tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:gabrielelana/awesome-terminal-fonts.git
[submodule "xcape"]
	path = xcape
	url = git@github.com:alols/xcape.git
